* {
  margin: 0;
  padding: 0;
}

html {
  background: #f1f1f1;
}

body {
  display: grid;
  grid-template-rows: 80px auto;
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 40%;
  margin-top: 30px;
}

.nav-bar {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 100%;
}

.video-block {
  height: 100%;
}

.sidebar {
  height: 100%;
  box-shadow: 0 0px 2px 2px #cccccc;
  padding: 5px 15px;
  background: white;
}

.logo {
  width: 70px;
  height: 50px;
  margin-left: 30px;
}

.main-video {
  min-width: 70%;
  margin: 40px auto;
  display: block;
}

.search-field {
  display: grid;
  grid-template-columns: auto 10%;
  width: 50%;
  margin: auto;
}

.search-input,
.search-btn {
  height: 35px;
  box-sizing: border-box;
}

.search-input {
  padding-left: 10px;
}

.signin {
  height: 30px;
  width: 5%;
  padding: 5px;
  color: #ffffff;
  background: cornflowerblue;
  margin: auto;
}

.info {
  width: 100%;
}

.language-choice {
  background: cornflowerblue;
  height: 37px;
  width: 100%;
  padding-left: 30px;
  position: relative;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.language-display {
  height: 37px;
  width: 100%;
  padding-left: 30px;
  border: 3px solid cornflowerblue;
}

.thumbnail {
  width: 200px;
  height: 100px;
}

.video-option-card {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 40% auto;
  max-width: 500px;
  margin: 15px auto;
}

.video-details {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.video-title {
  font-size: fit-width;
  display: inline-block;
}

.icon-white {
  color: white;
}

.grey-icon {
  color: grey;
}

.video-details-card {
  display: grid;
  grid-auto-rows: auto auto auto;
  width: 70%;
  margin: 5px auto;
  padding: 10px;
  background: white;
  box-shadow: 0 0px 2px 2px #cccccc;
}

.author-logo {
  width: 25px;
  height: 30px;
  padding: 10px;
  background: #689f38;
  font-size: 2em;
  text-align: center;
  color: white;
  margin-right: 10px;
}

.cta-subscribe {
  background: red;
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  border: none;
  border-radius: 3px;
}

.author-name {
  font-size: 16px;
}

.section-1,
.section-2,
.left-icons,
.right-icons {
  display: flex;
}

.views {
  align-self: flex-end;
  justify-self: flex-end;
}

.section-2 {
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
}

.label {
  margin: 0 10px 5px 5px;
  bottom: 10px;
}
