/* Roboto-Font import */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* General attribute */
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}
/* End General attributes */

/* Page Setup */

html {
  background: #f1f1f1;
}

body {
  display: grid;
  grid-template-rows: 80px auto;
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 40%;
  margin-top: 30px;
}

/* End Page Setup */

/* Header Section */
.nav-bar {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 100%;
  padding: 0 20px;
}

.logo {
  width: 70px;
  height: 50px;
  margin-left: 30px;
}

.search-field {
  display: grid;
  grid-template-columns: auto 10%;
  width: 50%;
  margin: auto;
}

.search-input,
.search-btn {
  height: 35px;
  box-sizing: border-box;
}

.search-input {
  padding-left: 10px;
}

.signin {
  height: 30px;
  width: 5%;
  padding: 1px;
  color: #ffffff;
  background: cornflowerblue;
  margin: auto;
}

.apps-icon {
  max-width: 25px;
  max-height: 25px;
  color: gray;
  margin-left: 15px;
}

.create-video-icon {
  max-width: 35px;
  max-height: 35px;
  margin-left: 15px;
}
.notification-icon {
  max-width: 33px;
  max-height: 33px;
  margin-left: 15px;
}

/* End Header Section */

/* Playing Video section */
.video-block {
  height: 100%;
}

.main-video {
  width: 75%;
  margin: 0 auto 40px auto;
  display: block;
}

.video-details-card {
  display: grid;
  grid-auto-rows: auto;
  width: 72.5%;
  margin: 20px auto;
  padding: 10px;
  background: white;
  box-shadow: 0 0px 2px 2px #cccccc;
}

.author-logo {
  width: 25px;
  height: 30px;
  padding: 10px;
  background: #689f38;
  font-size: 2em;
  text-align: center;
  color: white;
  margin-right: 10px;
}

.cta-subscribe {
  background: red;
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  border: none;
  border-radius: 3px;
}

.author-name {
  margin: 5px 0;
  font-size: 14px;
}

.section-1-left,
.section-1,
.section-2,
.left-icons,
.right-icons {
  display: flex;
}

.views {
  align-self: flex-end;
  justify-self: flex-end;
  color: gray;
  font-size: 1.3em;
}

.section-2 {
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
}

.label {
  margin: 0 10px 5px 5px;
  bottom: 10px;
}

.section-1 {
  justify-content: space-between;
  margin: 10px 0;
}

.video-description {
  font-size: 12px;
  font-weight: 300;
}

.show-more {
  color: grey;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
/* End Playing video section */

/* Sidebar Section */

.sidebar {
  box-shadow: 0 0px 2px 2px #cccccc;
  padding: 5px 0px;
  background: white;
}

.section-label {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px 0px 20px 30px;
}

.sidebar hr {
  margin: -20px 30px 15px 30px;
}

.thumbnail {
  width: 100%;
  max-height: 80%;
}

.video-option-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
  width: 90%;
  height: 150px;
  margin: 5px auto;
  box-sizing: border-box;
}

.video-details {
  display: grid;
  grid-template-rows: auto 15% 50%;
  width: 70%;
  box-sizing: border-box;
}

.video-title {
  font-size: 18px;
  display: inline-block;
}

.icon-white {
  color: white;
}

.grey-icon,
.video-author,
.video-views {
  color: grey;
}

.video-author,
.video-views {
  font-size: 14px;
  font-weight: 500;
}

/* End sidebar section */
