* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 60px auto;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}

.nav-bar {
  background: red;
}

.video-block {
  background: blue;
  width: 100%;
  height: 100%;
}

.sidebar {
  background: yellow;
  width: 100%;
  height: 100%;
}