* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 80px 100px auto;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 40%;
}

.nav-bar {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
}

.video-block {
  width: 100%;
  height: 100%;
  padding-left: 25px;
}

.sidebar {
  width: 100%;
  height: 100%;
}

.logo {
  width: 70px;
  height: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

.search-field {
  display: grid;
  grid-template-columns: auto 5%;
  width: 50%;
  margin-left: 120px;
  margin-top: 20px;
}

.search-input,
.search-btn {
  height: 30px;
  box-sizing: border-box;
}

.search-input {
  padding-left: 10px;
}

.signin {
  height: 30px;
  width: 50px;
  margin-left: 80px;
  margin-top: 20px;
  padding: 5px;
  color: #ffffff;
  background: cornflowerblue;
}

.upload-icon {
  margin-left: 80px;
  margin-top: 20px;
}

.info {
  width: 100%;
}

.language-choice {
  background: cornflowerblue;
  height: 37px;
  width: 100%;
  padding-left: 30px;
  position: relative;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.language-display {
  height: 37px;
  width: 100%;
  padding-left: 30px;
  border: 3px solid cornflowerblue;
}

.thumbnail {
  width: 200px;
  height: 100px;
}

.video-option-card {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 40% auto;
  max-width: 500px;
  margin-top: 5px;
}

.video-details {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.video-title {
  font-size: fit-width;
  display: inline-block;
  margin: 0;
  padding: 0;
}
